.footer {
    height: 100px;
}
.social-media{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(4, 50px);
    place-content: center;
    list-style-type: none;
}

li > a {
    font-weight:700;
    color: white;
    text-decoration: none;
    font-size:15px;
    margin-left: 10px;
    margin-right: 10px;
}

li > a:hover{
    color: black
}
.copywrite {
    color:white;
    display: flex;
    justify-content:end;
}
