.form-floating>.textfield{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 900;
    font-size: 16px;
    height: 200px;
    display: flex;
    justify-content: center;  
   
}
.form-floating>.features {
    margin-bottom: 170px;
}
.form-floating>.textfield-lable {
    margin-left: 10px;
}

.submitform {
    text-align: center;
    width: inherit;
    font-size: 30px;    
}
button {
    margin: 10px;
}
